<footer>
    <div class="shell">
        <div class="fot1" style="height:163px;">
            <div class="fot1_img"><img src="http://www.xdfpr.cn/images/index-img/bot.jpg" alt="泉城济南"></div>
            <div class="fot1_txt">
                <p class="fot1_txt_p">官方微信号:szxdfpr　电话:0755-8999 3666<br>
                    坪山校区地址：深圳市坪山区坑梓街道宝西路17号<br>
                    龙岗校区地址：深圳市龙岗区横岗街道松柏天虹4楼</p>
            </div>
        </div>
    </div>
    <div class="fot2">
        <div class="shell">
            <div class="fot2_l"> <img style="width:169px" src="/style/images/footer-logo.jpg" height="175" alt="新东方烹饪教育" /> </div>
            <div class="fot2_r">
                <span>办学34年来，集团与60万余名校友建立了强大的校友网络！ </span>
                <br>
                <!--{iCMS:category:list loop="true"  row="10" cid='1,5,11,7,9,8'}-->
                <a href="<!--{$category_list.url}-->" target="_blank"><!--{$category_list.name}--></a> |
                <!--{/iCMS}-->
                <a target="_blank" href="javascript:void(0)" onclick="swtClick('footer_pc_bm');"> 在线报名 </a>
                <br>
                <P> 深圳新东方烹饪学校地址：深圳市坪山区坑梓街道宝西路17号<br>
                    深圳新东方烹饪学校地址致力于：烹饪、烹饪培训、烹饪学校、厨师、厨师培训、厨师学校、西点培训、西餐培训、小吃培训 <br>
                    版权所有：北京朗杰科技有限公司 Copyright @ 2008 www.szxdfpr.com Inc.All rights reserved. <br>
                    手机网址： <a target="_blank" href="http://m.szxdfpr.com"> m.szxdfpr.com </a> 推荐分辨率：1440*900<br>
                    备案号：<a target="_blank" href="http://www.beian.miit.gov.cn/" style="color:#333;">粤ICP备17096990号-2</a> </P>
            </div>
        </div>
    </div>
</footer>




<!--商务通JS代码 必须添加 2021 12 08 dbenx-->
<script type="text/javascript" src="/style/js/public/swt.js"></script>
<!--统计代码 2021 12 08 dbenx-->
<script type="text/javascript" src="/style/js/public/tongji.js"></script>

<script src="/style/js/jquery-1.11.3.min.js"></script>

