<div class="bgcolor">
    <div class="wrap">
        <div class="bmbox">
            <div class="bm-title"><strong>为自己的未来添加一份保障</strong><br>每期开班名额有限，报名优先享占座权<br></div>
            <form name="from" class="bmform" action="/plus/baoming.php" accept-charset="utf-8" method="post" enctype="multipart/form-data">

                <input type="text" name="name" placeholder="请输入您的姓名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的姓名'" class="bm-input">
                <input type="text" name="phone" placeholder="请输入您的手机号码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的手机号码'" class="bm-input">
                <input type="text" name="qq" placeholder="请输入您的QQ号码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的QQ号码'" class="bm-input">
                <input type="submit" name="submit" id="submit" value="立即报名" class="bm-submit">
            </form>
        </div>
    </div>
</div>