<header>
    <div class="top">
        <div class="wrap">
            <div class="top-left">
                <span>官网</span>深圳新东方烹饪职业培训学校欢迎您！
            </div>
            <div class="top-right">
                <a href="javascript:void(0)" onclick="swtClick()">广东省粤菜师傅培训基地</a>
                <a href="http://m.szxdfpr.com/" target="_blank">手机版</a>
                <!--<a href="http://ke.szxdfpr.com/" target="_blank">云课堂</a>-->
                <a href="javascript:;" rel="nofollow">官方微信
                    <img src="/style/images/wx.jpg" width="122" height="122" class="top-img">
                </a>
                <a href="javascript:;" rel="nofollow">官方抖音
                    <img src="/style/images/douyin.jpg" width="200" height="245" class="top-img">
                </a>
                <a href="javascript:;" rel="nofollow">官方快手
                    <img src="/style/images/kuaishou.jpg" width="200" height="282" class="top-img">
                </a>
                <!--{iCMS:category:list  loop="true" cid='11'}-->
                    <a href="<!--{$category_list.url}-->" target="_blank"><!--{$category_list.name}--></a>
                <!--{/iCMS}-->
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="wrap"><img src="/style/images/top-logo.jpg" style="width:1210px; height:127px; margin:0 auto;" alt="深圳新东方烹饪学校" /></div>
</header>

