<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title><!--{$category.name}-->_<!--{$category.title}-->_<!--{$site.title}--></title>
    <meta name="keywords" content="<!--{$category.keywords}-->" />
    <meta name="description" content="<!--{$category.description}-->" />
    <link href="/style/css/jybz.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--{include file="./header.htm"}-->
<!--{include file="./nav.htm"}-->
<div class="banner"></div>
<div id="zy_nav">
    <ul class="clearfix">
        <li class="Selected">厨师行业前景</li>
        <li>就业前景</li>
        <li>主要课程</li>
        <li>合作单位</li>
        <li>创业帮扶</li>
    </ul>
</div>
<div class="box1 wrap">
    <div class="jy_title"><strong>凭什么说餐饮行业永不失业</strong>
        <p>餐饮业的管理人员、世界知名饭店的厨师人员、美食艺术者等诸多餐饮业人员的收入都很高，餐饮业已经跨入了高收入的行业之列。</p>
    </div>
    <ul class="qj_list clearfix">
        <li><strong>39527亿</strong>
            <p>统计局今年发布今年一季度社会经济发展状况显示，2020年1-12月，全国餐饮收入39527亿元！</p>
        </li>
        <li><strong>98%就业率</strong>
            <p>作为全国出名的餐饮培训学校，深圳新东方学员就业率98%</p>
        </li>
        <li><strong>400万</strong>
            <p>行政厨师、酒店管理等餐饮管理型人才需求达400万人左右</p>
        </li>
    </ul>
</div>
<div id="zhu">
    <div class="box4">
        <div class="jy_title1"><strong>就业，只是他们的起点！</strong>
            <p>坚持烹饪教育34年 为企业输送高技能人才！</p>
        </div>
        <div class="jfw_con">
            <ul class="clearfix">
                <li class="jfw_item1">
                    <div class="jfw_txt">
                        <div class="jfw_txt_1"><span>餐饮总监</span></div>
                        <div class="jfw_txt_2">餐饮总监是饭店餐饮部中高层管理岗位。在饭店总经理或驻店经理的领导下，负责饭店各餐饮营业设施的餐饮食品生产及餐饮服务工作。</div>
                    </div>
                </li>
                <li class="jfw_item2">
                    <div class="jfw_txt">
                        <div class="jfw_txt_1"><span>行政总厨</span></div>
                        <div class="jfw_txt_2">大型酒店餐厅和宾馆内总揽厨房事务的管理人员。行政总厨主要对厨房人员进行日常管理，对厨房所有食物进行高标准控制等工作。</div>
                    </div>
                </li>
                <li class="jfw_item3">
                    <div class="jfw_txt">
                        <div class="jfw_txt_1"><span>餐饮部经理</span></div>
                        <div class="jfw_txt_2">大型酒店餐饮部的全面工作的管理人员,对总经理负责;与行政总厨、大厨、宴会部研究如何提高食品的质量，创制新的菜色品种。</div>
                    </div>
                </li>
                <li class="jfw_item4">
                    <div class="jfw_txt">
                        <div class="jfw_txt_1"><span>厨师长</span></div>
                        <div class="jfw_txt_2">厨师长，是酒店厨房的管理部门领导，受行政总厨领导，主要对炒锅进行日常管理，对厨房所有菜品进行高标准控制等工作。</div>
                    </div>
                </li>
            </ul>
            <div class="jfw_sj">
                <div class="wrap"><img src="/style/images/jybz/xsmh1.jpg" width="1200" height="336" alt=""></div>
            </div>
        </div>
        <a href="javascript:;" onclick="swtClick();" class="jybz_a" target="_blank" rel="nofollow">我的毕业薪资</a>
    </div>
    <div class="box5">
        <div class="jy_title2">
            <div class="title_item"> SHAN DONG NEW WAST <strong>新东方学子就业单位</strong></div>
            <p>30000余家校企合作单位，就业畅通无阻！</p>
        </div>
        <div class="logozu">
            <ul class="clearfix">
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo1.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo2.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo3.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo4.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo5.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo6.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo7.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo8.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo9.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo10.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo11.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo12.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo13.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo14.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo15.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo16.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo17.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo18.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo19.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo20.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">
                        <img src="/style/images/jybz/logo21.png" width="133" height="133" alt="">
                        <span>我要入职</span>
                    </a>
                </li>
            </ul>
        </div>
        <a href="javascript:;" onclick="swtClick();" class="jybz_a" target="_blank" rel="nofollow">更多合作企业</a>
    </div>
    <div class="box_zy">
        <div class="jy_title2">
            <div class="title_item"> SHAN DONG NEW WAST <strong>深圳新东方烹饪 主流热门课程</strong></div>
        </div>
        <div class="jn_xl_con">
            <ul class="clearfix wrap">


                <!--{iCMS:article:list loop="true" row='8' cid="2,3,4" orderby="weight"}-->
                <li>
                    <div class="sh_item1"><a href="<!--{$article_list.url}-->" target="_blank"><img src="<!--{$article_list.mpic.url}-->" width="295" height="200" alt="<!--{$article_list.title}-->"></a>
                        <p class="sh_txt_1"><font color="#ff5a00">[<!--{$article_list.stitle}-->]</font><span><!--{$article_list.title}--></span></p>
                        <p class="sh_txt_2"><!--{$article_list.description}--></p>
                    </div>
                    <div class="sh_item2"><a href="javascript:;" onclick="swtClick();" class="zixun_a">咨询学费</a>
                        <a href="<!--{$article_list.url}-->" class="liaojie_a" target="_blank">了解专业</a></div>
                </li>
                <!--{/iCMS}-->


            </ul>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="title-main title-main4">
        <img src="/style/images/icon3.png" alt="" width="31" height="25">
        <strong style="color: #4a4949;">还有疑问？深圳新东方为你解决更多！</strong>
        <img src="/style/images/icon4.png" alt="" width="30" height="25">
    </div>
    <div class="clearfix">
        <ul class="wenti">
            <li>毕业后能拿什么学历？<a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">在线咨询</a></li>
            <li>如何获得免试入学资格？<a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">在线咨询</a></li>
            <li>包就业吗？可以安排全国就业吗？<a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">在线咨询</a></li>
            <li>报名流程是什么？手续有哪些？<a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">在线咨询</a></li>
            <li>不知道合适什么专业，请老师推荐？<a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">在线咨询</a></li>
        </ul>
        <ul class="wenti">
            <li>学校地址在什么地方？<a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">在线咨询</a></li>
            <li>学费多少？<a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">在线咨询</a></li>
            <li>学不会怎么办？<a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">在线咨询</a></li>
            <li>毕业工资怎么样？<a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">在线咨询</a></li>
            <li>有理论课么？<a href="javascript:;" onclick="swtClick();"  target="_blank" rel="nofollow">在线咨询</a></li>
        </ul>
    </div>
</div>

<!--{include file='./from.htm'}-->

<!--{include file='./footer.htm'}-->

<script src="/style/js/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
    //获取导航条距离顶部位置
    var x = $('#zy_nav').offset().top;
    //console.log(x);
    //滚动执行
    window.onscroll = function () {
        //获取当前滚动条位置
        var doc = $(document).scrollTop();
        //顶部固定
        if (doc > x) {
            $('#zy_nav').addClass('Selected');
        } else {
            $('#zy_nav').removeClass()
        }
        //滚动侦测 循环判断
        for (var i = 0; i < $('#zhu>div').length; i++) {
            if (doc + 100 > $('#zhu>div').eq(i).offset().top) {
                $('#zy_nav ul li').eq(i).addClass('Selected').siblings().removeClass();
            }
        }
    };

    //点击滚动到制定位置
    $('#zy_nav ul li').click(function (event) {
        //获取当前被点击的按钮排序
        var index = $(this).index();
        // console.log(index);
        //获取与按钮排序一致的div
        var cc = $('#zhu>div').eq(index).offset().top;
        //执行滚动 JQuery自定义动画
        $('html, body').stop().animate({
            scrollTop: cc - 35
        }, 500);
    });

</script>
</body>
</html>