
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><!--{$category.name}-->_<!--{$category.title}-->_<!--{$site.title}--></title>
    <meta name="keywords" content="<!--{$category.keywords}-->" />
    <meta name="description" content="<!--{$category.description}-->" />
    <link rel="stylesheet" href="/style/css/swiper-4.5.0.min.css" />
    <link href="/style/css/teacher.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--{include file="./header.htm"}-->
<!--{include file="./nav.htm"}-->
<div class="swiper-container banner">
    <ul class="swiper-wrapper">
        <li class="swiper-slide"><a href="javascript:;" style="background:url(/style/images/teacher/banner.jpg) no-repeat top center;" target="_blank" onclick="swtClick()" ></a></li>
        <li class="swiper-slide"><a href="javascript:;" style="background:url(/style/images/teacher/banner2.jpg) no-repeat top center;" target="_blank" onclick="swtClick()" ></a></li>
    </ul>
    <div class="swiper-pagination"></div>
</div>
<div class="box1 wrap">
    <div class="ds_title">
        <strong>师者，传技授业解惑也！</strong>
        <p>是人生导师，更是我们生活学习的好伙伴！</p>
    </div>
    <div class="box1_con">
        <p>
            深圳新东方烹饪学校品质教学服务，学校师资力量雄厚，拥有一支以素质高、技术强、教学精而著称的烹调师、面点师、技师，教学质量始终如一，名列行业前茅。其中我校的谭荣华老师为不仅富有很强的管理能力，教学教研方面也是新东方烹饪教育的佼佼者，是国际一级食品雕刻师、国际蓝带烹饪艺术大师、中式烹调高级技师，深圳技能大赛深港粤“粤菜师傅“职业技能竞赛裁判员，2020年11月26日荣获2020年度深圳市坪山区“聚龙巧匠”称号；2021年9月22日经深圳市职工教育和职业培训协会职业培训行业教师教学能力评价专业技术委员会评审及认定，具备一级职业技能导师教学能力。</p>
        <p>学校在对初、高中生人群心理特点及年龄结构充分调研的基础之上，制定了适合学生学习及发展的课程安排，保证所有学生对专业课程有兴趣、有信心、学的会，学的好！</p>
        <ul class="clearfix">
            <li>
                <img src="/style/images/teacher/icon1.jpg" alt="">
                <p>专注品质教育<br/>爱与责任</p>
            </li>
            <li>
                <img src="/style/images/teacher/icon2.jpg" alt="">
                <p>双师型认证讲师<br/>一对一沟通</p>
            </li>
            <li>
                <img src="/style/images/teacher/icon3.jpg" alt="">
                <p>老师现场授课指点<br/>紧盯社会需求</p>
            </li>
            <li>
                <img src="/style/images/teacher/icon4.jpg" alt="">
                <p>项目实训式教学<br/> 分享受用的经验</p>
            </li>
        </ul>
    </div>
</div>
<div class="box2">
    <div class="wrap">
        <div class="ds_title">
            <strong>中餐烹饪教学团队</strong>
        </div>
        <div class="jx_con">
            <p>烹饪生活即将开启，有一个人，将带领你们探索未知!</p>
            <p>中餐烹饪是一个爱岗敬业、团结奋进、锐意创新的团队。他们始终秉持“一切为了学生、为了学生的一切”的教学理念，用永不竭尽的激情耕耘三尺讲台，用群体不凡的智慧演绎教学的精彩，用锲而不舍的拼搏书写奉献的美丽，用细腻柔润的爱心温暖学生的心灵。让每个孩子得到恰如其分的成长！</p>
        </div>
        <div class="swiper-container swiper-container-jx">
            <div class="swiper-wrapper">
                <!--{iCMS:article:list loop="true" row="10" orderby="sort" cid="12"}-->
                <div class="swiper-slide">
                    <a href="<!--{$article_list.url}-->" target="_blank">
                        <img src="<!--{$article_list.pic.url}-->" alt="">
                        <div class="ms-txt">
                            <p>
                                <!--{$article_list.stitle}-->
                            </p>
                        </div>
                    </a>
                </div>
                <!--{/iCMS}-->

            </div>
        </div>
    </div>
</div>
<div class="jx_btn clearfix">
    <a href="javascript:;"  onclick="swtClick()"  >在线咨询</a>
    <a href="javascript:;"  onclick="swtClick()"  >免费试听</a>
    <!--{iCMS:category:list  loop="true" cid='12'}-->
    <a href="<!--{$category_list.url}-->" target="_blank">更多大师</a>
    <!--{/iCMS}-->


</div>
<div class="box3 wrap">
    <div class="ds_title">
        <strong>西点西餐教学团队</strong>
    </div>
    <div class="jx_con">
        <p>你们离开初高中，步入烹饪大学，我们会把所知传授给学生，让我们一起披荆斩棘，砥砺前行吧！</p>
        <p>
            西点西餐教学团队是一支年轻、敬业、团结、奉献的团队。在教学中，我们确定“以学生为主体，教师为主导”的教学理念，以“提高专业素养，提升自己的审美和技能为目标”进行实践教学，注重培养学生的学习兴趣和专业技能。全组教师教学观念新，教学能力强，得到了学生和家长的认可，希望每一位学生都能学有所成。</p>
    </div>
    <div class="swiper-container swiper-container-xc">
        <div class="swiper-wrapper">
            <!--{iCMS:article:list loop="true" row="10" orderby="sort" cid="13"}-->
            <div class="swiper-slide">
                <a href="<!--{$article_list.url}-->" target="_blank">
                    <img src="<!--{$article_list.pic.url}-->" alt="">
                    <div class="ms-txt">
                        <p>
                            <!--{$article_list.stitle}-->
                        </p>
                    </div>
                </a>
            </div>
            <!--{/iCMS}-->
        </div>
    </div>
</div>
<div class="jx_btn clearfix">
    <a href="javascript:;"  onclick="swtClick()"  >在线咨询</a>
    <a href="javascript:;"  onclick="swtClick()"  >免费试听</a>
    <!--{iCMS:category:list  loop="true" cid='13'}-->
    <a href="<!--{$category_list.url}-->" target="_blank">更多大师</a>
    <!--{/iCMS}-->

</div>
<div class="box4 wrap">
    <div class="ds_title">
        <strong>特聘大师教学团队</strong>
    </div>
    <div class="jx_con">
        <p>
            深圳新东方烹饪学校定期邀请各大酒店行政总厨、厨师长、餐饮名厨等烹饪大师走进校园教学，不仅可以开阔学生视野，同时是让学生及时了解现代餐饮市场发展的前卫课堂。通过邀请不同大师来校授课，带来各种菜品风格的作品；让在校学生接触到更丰富的厨艺技能，同时也可以让学生了解到现代餐饮发展的动态需求。助飞同学们的厨师梦想！</p>
    </div>
    <ul class="tp_list clearfix">
        <!--{iCMS:article:list loop="true" row="10" orderby="sort" cid="14"}-->
        <li>
            <a href="javascript:;"  onclick="swtClick()"  >
                <img src="<!--{$article_list.pic.url}-->" alt="">
                <strong>特聘教师--<!--{$article_list.title}--></strong>
                <p><!--{$article_list.stitle}--></p>
            </a>
        </li>
        <!--{/iCMS}-->
    </ul>
    <div class="jx_btn clearfix">
        <a href="javascript:;"  onclick="swtClick()"  >在线咨询</a>
        <a href="javascript:;"  onclick="swtClick()"  >免费试听</a>

        <!--{iCMS:category:list  loop="true" cid='14'}-->
        <a href="<!--{$category_list.url}-->" target="_blank">更多大师</a>
        <!--{/iCMS}-->

    </div>
</div>

<div class="w1210 clearfix">
    <div class="title-main title-main4">
        <img src="/style/images/teacher/icon3.png" alt="" width="31" height="25">
        <strong style="color: #4a4949;">还有疑问？深圳新东方为你解决更多！</strong>
        <img src="/style/images/teacher/icon4.png" alt="" width="30" height="25">
    </div>
    <ul class="wenti">
        <li>毕业后能拿什么学历？<a href="javascript:;"  onclick="swtClick()"  >在线咨询</a></li>
        <li>如何获得免试入学资格？<a href="javascript:;"  onclick="swtClick()"  >在线咨询</a></li>
        <li>包就业吗？可以安排全国就业吗？<a href="javascript:;"  onclick="swtClick()"  >在线咨询</a></li>
        <li>报名流程是什么？手续有哪些？<a href="javascript:;"  onclick="swtClick()"  >在线咨询</a></li>
        <li>不知道合适什么专业，请老师推荐？<a href="javascript:;"  onclick="swtClick()"  >在线咨询</a></li>
    </ul>
    <ul class="wenti">
        <li>学校地址在什么地方？<a href="javascript:;"  onclick="swtClick()"  >在线咨询</a></li>
        <li>学费多少？<a href="javascript:;"  onclick="swtClick()"  >在线咨询</a></li>
        <li>学不会怎么办？<a href="javascript:;"  onclick="swtClick()"  >在线咨询</a></li>
        <li>毕业工资怎么样？<a href="javascript:;"  onclick="swtClick()"  >在线咨询</a></li>
        <li>有理论课么？<a href="javascript:;"  onclick="swtClick()"  >在线咨询</a></li>
    </ul>
</div>
<div class="bgcolor">
    <div class="w1210">
        <div class="bmbox">
            <div class="bm-title"><strong>预约免费试听课程</strong><br>每期开班座位有限，预报名可享有占座权</div>
            <form name="from" class="bmform" action="/plus/baoming.php" accept-charset="utf-8" method="post" enctype="multipart/form-data">

                <input type="text" name="name" placeholder="请输入您的姓名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的姓名'" class="bm-input">
                <input type="text" name="phone" placeholder="请输入您的手机号码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的手机号码'" class="bm-input">
                <input type="text" name="qq" placeholder="请输入您的QQ号码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的QQ号码'" class="bm-input">
                <input type="submit" name="submit" id="submit" value="立即预约" class="bm-submit">
            </form>
        </div>
    </div>
</div>
<div class="swtRirhgt clearfix">
    <a href="javascript:void(0)" class="xuefei zxUrl" target="_blank">
        <p></p>
    </a>
    <a href="javascript:void(0)" class="zhuanye zxUrl" target="_blank">
        <p></p>
    </a>
    <a href="javascript:void(0)" class="swtzx zxUrl" target="_blank">
        <p></p>
    </a>
    <a href="javascript:void(0)" class="telzx" target="_blank">
        <p></p>
    </a>
    <a target="_blank" href="javascript:;" class="qqzx zxUrl">
        <p></p>
    </a>
    <div class="wechatzx">
        <p></p>
        <div class="qrcode"></div>
    </div>
    <div class="backtopbtn">
        <p></p>
    </div>
</div>

<!--{include file="./footer.htm"}-->

<script src="/style/js/jquery-1.11.3.min.js"></script>

<script src="/style/js/swiper-4.5.0.min.js"></script>
<script type="text/javascript">
    var banner = new Swiper('.banner', {
        pagination :{
            el: '.swiper-pagination',
            clickable :true,
        },
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
        loop: true
    });
    //bb1();
    var swiper1 = new Swiper('.swiper-container-jx', {
        slidesPerView: 4,
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
        loop: true
    });
    var swiper2 = new Swiper('.swiper-container-xc', {
        slidesPerView: 4,
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
        loop: true
    });
    $(".ms-txt").css('bottom', '-120px');
    $(".swiper-container-jx .swiper-slide").hover(function () {
        $(this).find(".ms-txt").stop().animate({bottom: '0px'}, '100');
    }, function () {
        $(this).find(".ms-txt").stop().animate({bottom: '-120px'}, '100');
    })
    $(".swiper-container-xc .swiper-slide").hover(function () {
        $(this).find(".ms-txt").stop().animate({bottom: '0px'}, '100');
    }, function () {
        $(this).find(".ms-txt").stop().animate({bottom: '-120px'}, '100');
    })

</script>
</body>
</html>