<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico" />
    <title><!--{$site.seotitle}-->_<!--{$site.title}--></title>
    <meta name="keywords" content="<!--{$site.keywords}-->" />
    <meta name="description" content="<!--{$site.description}-->" />
    <link rel="stylesheet" href="/style/css/swiper-4.5.0.min.css" />
    <link rel="stylesheet" href="/style/css/index.css">
</head>
<body>
<!--{include file="./header.htm"}-->

<ul class="justify nav-main">
    <li class="nav-zy">
        <a href="javascript:void(0)" onclick="return swtClick()"
           style="height: 60px!important;line-height: 60px;font-size: 20px;    text-align: center;background: #ff3600;border-radius: 10px 10px 0 0;">招生热门专业</a>
        <div class="nav1_d2">
            <dl class="lx_dl f_l">
                <dt class="fir_dt fir_dt1">
                    <p class="f_l fir_dt_p1">初中生</p>
                    <p class="f_l f_13"><span class="kuohao">(</span>名师<span class="kuohao">)</span></p>
                    <span class="clear"></span>
                </dt>
                <dt class="fir_dt fir_dt2">
                    <p class="f_l fir_dt_p1">学技能<br>+<br>推荐就业</p>
                    <p class="f_l f_13"><span class="kuohao">（</span>校企定向班<span class="kuohao">）</span></p>
                    <span class="clear"></span>
                </dt>
                <dt class="sec_dt">精<br>修<br>专<br>业</dt>
            </dl>
            <dl class="zy_dl f_l">

                <dt>
                    <h3 class="nav_h3">
                        <a href="javascript:void(0)" onclick="return swtClick()" class="col_25 d_b f_l">金典总厨专业<span
                                class="hongse d_b f_r">三年制</span></a>
                    </h3>
                </dt>
                <dt>
                    <h3 class="nav_h3">
                        <a href="javascript:void(0)" onclick="return swtClick()" class="col_25 d_b f_l">酒店管理<span
                                class="hongse d_b f_r">三年制</span></a>
                    </h3>
                </dt>
                <dt>
                    <h3 class="nav_h3">
                        <a href="javascript:void(0)" onclick="return swtClick()" class="col_25 d_b f_l">时尚西点专业<span
                                class="hongse d_b f_r">三年制</span></a>
                    </h3>
                </dt>
                <dt>
                    <h3 class="nav_h3">
                        <a href="javascript:void(0)" onclick="return swtClick()" class="col_25 d_b f_l">经典西点专业<span
                                class="hongse d_b f_r">两年制</span></a>
                    </h3>
                </dt>
                <dt>
                    <h3 class="nav_h3"><a href="javascript:void(0)" onclick="return swtClick()" class="col_25 d_b f_l">西餐主厨专业
                        <span class="hongse d_b f_r">两年制</span></a></h3>
                </dt>
                <dt>
                    <h3 class="nav_h3"><a href="javascript:void(0)" onclick="return swtClick()" class="col_25 d_b f_l">大厨精英专业
                        <span class="hongse d_b f_r">两年制</span></a></h3>
                </dt>
                <dt>
                    <h3 class="nav_h3"><a href="javascript:void(0)" onclick="return swtClick()" class="heise d_b f_l">主厨精修专业
                        <span class="hongse d_b f_r">10个月</span></a></h3>
                </dt>
                <dt>
                    <h3 class="nav_h3"><a href="javascript:void(0)" onclick="return swtClick()" class="col_25 d_b f_l">粤菜主厨班
                        <span class="hongse d_b f_r">6个月</span></a></h3>
                </dt>
                <dt>
                    <h3 class="nav_h3"><a href="javascript:void(0)" onclick="return swtClick()"
                                          class="zxUrl col_25 d_b f_l">烹饪强化班
                        <span class="hongse d_b f_r"> 3个月</span></a></h3>
                </dt>
                <dt>
                    <h3 class="nav_h3"><a href="javascript:void(0)" onclick="return swtClick()"
                                          class="zxUrl col_25 d_b f_l">中式面点研修班
                        <span class="hongse d_b f_r">2个月</span></a></h3>
                </dt>
            </dl>
            <p class="clear"></p>
        </div>
    </li>

    <li><a href="/"> 首页 </a></li>
    <!--{iCMS:category:list loop="true"  row="10" cid='1,5,6,7,8,9,10'}-->
    <li><a href="<!--{$category_list.url}-->" target="_blank"><!--{$category_list.name}--></a></li>
    <!--{/iCMS}-->
    <li><a href="javascript:void(0);" onclick="swtClick('index_nav_dxbm')">在线报名</a></li>

</ul>
<div class="fullSlide">
    <div class="bd">
        <ul>
            <li style="background:url(/style/images/banner/banner01.jpg) no-repeat center;">
                <a href="javascript:void(0)" onclick="return swtClick()" title="春季预报名"></a>
            </li>
            <li style="background:url(/style/images/banner/banner02.png) no-repeat center;">
                <a href="javascript:void(0)" onclick="return swtClick()" title="校企合作定向委培"></a>
            </li>
            <li style="background:url(/style/images/banner/banner03.jpg) no-repeat center;">
                <a href="javascript:void(0)" onclick="return swtClick()" title="转学"></a>
            </li>
            <li style="background:url(/style/images/banner/banner04.jpg) no-repeat center;">
                <a href="javascript:void(0)" onclick="return swtClick()" title="转学"></a>
            </li>
            <li style="background:url(/style/images/banner/banner05.jpg) no-repeat center;">
                <a href="javascript:void(0)" onclick="return swtClick()" title="转学"></a>
            </li>
            <li style="background:url(/style/images/banner/banner06.jpg) no-repeat center;">
                <a href="javascript:void(0)" onclick="return swtClick()" title="转学"></a>
            </li>
            <li style="background:url(/style/images/banner/banner07.jpg) no-repeat center;">
                <a href="javascript:void(0)" onclick="return swtClick()" title="转学"></a>
            </li>

        </ul>
    </div>
    <div class="hd">
        <ul>
        </ul>
        <div class="timer" style="width: 0; display: block; overflow: hidden;"></div>
    </div>
    <a class="prev" href="javascript:void(0)" onclick="return swtClick()"></a>
    <a class="next"href="javascript:void(0)" onclick="return swtClick()"></a>
</div>
<div class="pc_zhsm_box">
    <div class="zhsm-container">
        <span class="zhsm-ld"></span>
        <p><b>深圳新东方烹饪学校</b>，经深圳市坪山区人力资源局批准建设<b>大型烹饪专业培训学校</b></p>
    </div>
</div>
<div class="bg_huise">
    <div class="wrap title-main">
        <strong>你适合学什么？</strong>
        量身定制，满足不同人群的不同需求！
    </div>
    <ul class="flex wrap runqun_list">
        <li>
            <img src="/style/images/hot1.png">
            <strong>定向班</strong>
            <p>校企定向班报名最高享5000元助学金，抢定名额</p>
            <a  href="javascript:void(0)" onclick="return swtClick()">查看详情</a>
        </li>
        <li>
            <div class="renqun1_div">
                <img src="/style/images/hot2.png">
                <strong class="color_lvse">就业班</strong>
                <p>
                    学热门技术，可考取大专学历，入学签订就业协议，薪资高好就业。
                </p>
                <a  href="javascript:void(0)" onclick="return swtClick()">查看详情</a>
            </div>
            <div class="renqun2_div">
                <strong>中餐专业</strong>
                <p>
                    精通八大菜系，学会管理与运营，做高技能人才。
                </p>
                <a href="javascript:void(0)" onclick="return swtClick()">查看详情</a>
            </div>
        </li>
        <li>
            <div class="renqun1_div">
                <strong class="color_juse">西点西餐专业</strong>
                <p>
                    学西点西餐，做美食艺术家，打造轻奢甜蜜事业。
                </p>
                <a href="javascript:void(0)" onclick="return swtClick()">查看详情</a>
            </div>
            <div class="renqun2_div">
                <strong class="color_lvse">女生华丽转身</strong>
                <p>
                    转身变身时尚达人，掌握美食高薪技能，成就美好未来。
                </p>
                <a href="javascript:void(0)" onclick="return swtClick()">查看详情</a>
            </div>
        </li>
        <li>
            <div class="renqun1_div">
                <strong class="color_huangse">男生勇闯未来</strong>
                <p>
                    技能傍身，前途不愁。变身技能男神或创业当老板。
                </p>
                <a href="javascript:void(0)" onclick="return swtClick()">查看详情</a>
            </div>
            <div class="renqun2_div">
                <img src="/style/images/hot3.png">
                <strong class="color_hongse">创业专区</strong>
                <p>
                    技能进修，升职加薪；百余种小吃项目，快速创业。
                </p>
                <a href="javascript:void(0)" onclick="return swtClick()">查看详情</a>
            </div>
        </li>
    </ul>
</div>
<div class="wrap title-main">
    <strong>升学班/就业班火热报名中</strong>
    学专业技能，考取本（专），成就美好未来
</div>
<div class="wrap flex">
    <div class="zyleft">
        <ul class="zytabt flex">
            <!-- <li>大学直通班</li> -->
            <li>定向就业班</li>
        </ul>
        <div class="zytabc">
            <ul class="zylist flex">
                <li>
                    <a href="javascript:void(0)" onclick="return swtClick()">
                        <img src="/style/images/zy-2-1.jpg" alt="金典总厨专业">
                        <span>预报名</span>
                    </a>
                    <strong><a href="javascript:void(0)" onclick="return swtClick()">金典总厨专业</a></strong>
                    <p>以餐饮企业需求为导向，培养具备餐饮行业管理能力、烹饪能力和自主创业能力的复合型人才为目标。</p>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="return swtClick()">
                        <img src="/style/images/zy-2-4.jpg" alt="大厨精英专业">
                        <span>预报名</span>
                    </a>
                    <strong><a href="javascript:void(0)" onclick="return swtClick()">大厨精英专业</a></strong>
                    <p>以培养的是复合型人才，以烹饪技术为主，餐饮 管理为辅来教学</p>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="return swtClick()">
                        <img src="/style/images/zy-2-5.jpg" alt="经典西点专业">
                        <span>预报名</span>
                    </a>
                    <strong><a href="javascript:void(0)" onclick="return swtClick()">经典西点专业</a></strong>
                    <p>以培养西点裱花师、烘焙师、西点品牌连锁店长，大型西点企业技术总监为目标。</p>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="return swtClick()">
                        <img src="/style/images/zy-2-6.jpg" alt="西餐主厨专业">
                        <span>预报名</span>
                    </a>
                    <strong><a href="javascript:void(0)" onclick="return swtClick()">西餐主厨专业</a></strong>
                    <p>以培养专业知识丰富、操作技能娴熟，具有厨房管理能力和创业能力的西餐主厨、厨师长为目标。</p>
                </li>

                <li>
                    <a href="javascript:void(0)" onclick="return swtClick()">
                        <img src="/style/images/zy-2-2.jpg" alt="主厨精修专业">
                        <span>预报名</span>
                    </a>
                    <strong><a href="javascript:void(0)" onclick="return swtClick()">主厨精修专业</a></strong>
                    <p>以培养大型连锁企业技术总监、、高级西点师、具备独立创业能力和管理型人才为目标。</p>
                </li>

                <li>
                    <a href="javascript:void(0)" onclick="return swtClick()">
                        <img src="/style/images/zy-2-3.jpg" alt="高星级饭店运营与管理">
                        <span>预报名</span>
                    </a>
                    <strong><a href="javascript:void(0)" onclick="return swtClick()">高星级饭店运营与管理</a></strong>
                    <p>以培养具备酒店管理专业知识和酒店后厨实践操作技能的大型酒店管理专业人才为目标。</p>
                </li>



            </ul>
        </div>
    </div>
    <div class="zyright">
        <div class="hrbm-title">最新报名动态</div>
        <div class="bd">
            <ul class="infoList">
                <li class="flex"><span>广东深圳</span> <span>陈彦龙</span> <span>预报</span> <span>金典总厨专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>尹斌 </span> <span>报读</span> <span>大厨精英专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>刘晓森</span> <span>报读</span> <span>主厨精修专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>刘秀</span> <span>报读</span> <span>金典总厨专业</span></li>
                <li class="flex"><span>广东东莞 </span> <span>马奔</span> <span>报读</span> <span>金典总厨专业</span></li>
                <li class="flex"><span>广东东莞 </span> <span>周晓彤</span> <span>报读</span> <span>经典西点专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>任建志</span> <span>报读</span> <span>大厨精英专业</span></li>
                <li class="flex"><span>广西桂林 </span> <span>李善旗</span> <span>预报</span> <span>金典总厨专业</span></li>
                <li class="flex"><span>江西赣州</span> <span>马宏达</span> <span>预报</span> <span>西餐主厨专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>毕有鹏</span> <span>报读</span> <span>欧派西点店长班</span></li>
                <li class="flex"><span>广东深圳</span> <span>高鹏 </span> <span>报读</span> <span>经典西点专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>付新烨</span> <span>报读</span> <span>主厨精修专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>林泊强</span> <span>报读</span> <span>裱花饮品创业班</span></li>
                <li class="flex"><span>江西赣州</span> <span>刘佳志</span> <span>预报</span> <span>金典总厨专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>高友花 </span> <span>报读</span> <span>欧派西点店长班</span></li>
                <li class="flex"><span>广东深圳</span> <span>于炳淑</span> <span>报读</span> <span>金典总厨专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>李丽洁</span> <span>报读</span> <span>欧派西点店长班</span></li>
                <li class="flex"><span>广东深圳</span> <span>丁志远</span> <span>报读</span> <span>欧派西点店长班</span></li>
                <li class="flex"><span>广东深圳</span> <span>杨益 </span> <span>报读</span> <span>时尚西点研修班</span></li>
                <li class="flex"><span>广东深圳</span> <span>孟瑶</span> <span>报读</span> <span>金典总厨专业</span></li>
                <li class="flex"><span>广西桂林 </span> <span>陈泽同</span> <span>预报</span> <span>经典西点专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>蒋大志</span> <span>报读</span> <span>大厨精英专业</span></li>
                <li class="flex"><span>广西桂林 </span> <span>魏奇异</span> <span>预报</span> <span>西餐主厨专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>邵学良</span> <span>预报</span> <span>中式面点研修班</span></li>
                <li class="flex"><span>广西桂林</span> <span>代雨 </span> <span>报读</span> <span>经典西点专业</span></li>
                <li class="flex"><span>江西赣州</span> <span>陈勇</span> <span>报读</span> <span>金领大厨专业</span></li>
                <li class="flex"><span>江西赣州</span> <span>龚美玉</span> <span>报读</span> <span>大厨精英专业</span></li>
                <li class="flex"><span>广西桂林 </span> <span>杨志非</span> <span>报读</span> <span>烘焙甜品创业班</span></li>
                <li class="flex"><span>江西赣州</span> <span>胡跃庭</span> <span>报读</span> <span>经典西点专业</span></li>
                <li class="flex"><span>广东东莞 </span> <span>赵德强</span> <span>预报</span> <span>西餐主厨专业</span></li>
                <li class="flex"><span>江西赣州</span> <span>史振德</span> <span>报读</span> <span>经典西点专业</span></li>
                <li class="flex"><span>广东东莞 </span> <span>赵元花</span> <span>报读</span> <span>西点烘焙专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>王中元</span> <span>预报</span> <span>大厨精英专业</span></li>
                <li class="flex"><span>广西桂林 </span> <span>李钰 </span> <span>报读</span> <span>西餐主厨专业</span></li>
                <li class="flex"><span>广西桂林 </span> <span>徐浩</span> <span>报读</span> <span>大厨精英专业</span></li>
                <li class="flex"><span>广西桂林 </span> <span>韩国强</span> <span>报读</span> <span>大厨精英专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>燕进苍</span> <span>报读</span> <span>烘焙甜品创业班</span></li>
                <li class="flex"><span>广东东莞 </span> <span>田阳</span> <span>报读</span> <span>欧派西点店长班</span></li>
                <li class="flex"><span>广东深圳</span> <span>刘毅</span> <span>报读</span> <span>西餐主厨专业</span></li>
                <li class="flex"><span>广东东莞 </span> <span>袁恒昌</span> <span>报读</span> <span>西餐主厨专业</span></li>
                <li class="flex"><span>广东东莞 </span> <span>王延鑫</span> <span>报读</span> <span>金领大厨专业</span></li>
                <li class="flex"><span>江西赣州</span> <span>张林兴</span> <span>报读</span> <span>金典总厨专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>陈娟</span> <span>报读</span> <span>金典总厨专业</span></li>
                <li class="flex"><span>广东东莞 </span> <span>张甜甜</span> <span>预报</span> <span>金典总厨专业</span></li>
                <li class="flex"><span>江西赣州</span> <span>解佳城</span> <span>预报</span> <span>中式烹调专业</span></li>
                <li class="flex"><span>广东东莞 </span> <span>郭梦杰</span> <span>报读</span> <span>烹饪精英专业</span></li>
                <li class="flex"><span>广东东莞 </span> <span>田阳 </span> <span>报读</span> <span>时尚西点专业</span></li>
                <li class="flex"><span>广东东莞 </span> <span>冯国涛</span> <span>报读</span> <span>西餐主厨专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>朱添哲</span> <span>报读</span> <span>大厨精英专业</span></li>
                <li class="flex"><span>广东东莞 </span> <span>李凯杰 </span> <span>预报</span> <span>金典总厨专业</span></li>
                <li class="flex"><span>广西桂林 </span> <span>梅雪 </span> <span>报读</span> <span>经典西点专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>胡世伟</span> <span>报读</span> <span>主厨精修专业</span></li>
                <li class="flex"><span>广西桂林 </span> <span>孔祥立</span> <span>报读</span> <span>时尚西点研修班</span></li>
                <li class="flex"><span>广东深圳</span> <span>汪硕 </span> <span>报读</span> <span>金典总厨专业</span></li>
                <li class="flex"><span>广东深圳</span> <span>郝方正</span> <span>报读</span> <span>金典总厨专业</span></li>
                <li class="flex"><span>广东东莞 </span> <span>李赵龙 </span> <span>报读</span> <span>金典总厨专业</span></li>
            </ul>
        </div>
        <div class="swiper-container banji">
            <ul class="swiper-wrapper">
                <li class="swiper-slide "><img src="/style/images/banji.jpg" width="100%" alt="金典总厨专业"></li>
                <li class="swiper-slide "><img src="/style/images/banji2.jpg" width="100%" alt="大厨精英专业"></li>
                <li class="swiper-slide "><img src="/style/images/banji3.jpg" width="100%" alt="主厨精修专业"></li>
                <li class="swiper-slide "><img src="/style/images/banji4.jpg" width="100%" alt="西餐主厨专业"></li>
                <li class="swiper-slide "><img src="/style/images/banji5.jpg" width="100%" alt="经典西点专业"></li>
                <li class="swiper-slide "><img src="/style/images/banji6.jpg" width="100%" alt="时尚西点研修班"></li>
            </ul>
        </div>
    </div>
</div>
<div class="wrap mar30">
    <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
        <img src="/style/images/prtzb2.jpg" width="100%" alt="企业定向班">
    </a>
</div>
<ul class="zsjh-title wrap flex">
    <li>热门专业</li>
    <li>限定名额</li>
    <li>剩余名额</li>
    <li>毕业可获得</li>
    <li>立即报名</li>
    <li>现在报名享受助学金</li>
</ul>
<div class="swiper-container zsjh wrap">
    <ul class="swiper-wrapper">
        <li class="swiper-slide flex">
            <span><a href="javascript:void(0)" onclick="return swtClick()"><font class="red">[三年制] </font>金典总厨专业</a></span>
            <span><span class="jhnum">70</span>人</span>
            <span><span class="num">35</span>人</span>
            <span>热门技能+证书、厨师证</span>
            <span><a href="javascript:void(0)" onclick="return swtClick()">立即报名</a></span>
            <span>助学贷款 免费邮寄入学指南</span>
        </li>
        <li class="swiper-slide flex">
            <span><a href="javascript:void(0)" onclick="return swtClick()"><font class="red">[三年制] </font>金典总厨专业</a></span>
            <span><span class="jhnum">120</span>人</span>
            <span><span class="num">50</span>人</span>
            <span>热门技能+证书、厨师证</span>
            <span><a href="javascript:void(0)" onclick="return swtClick()" >立即报名</a></span>
            <span>助学贷款 免费邮寄入学指南</span>
        </li>
        <li class="swiper-slide flex">
            <span><a href="javascript:void(0)" onclick="return swtClick()"><font class="red">[两年制] </font>大厨精英专业</a></span>
            <span><span class="jhnum">90</span>人</span>
            <span><span class="num">48</span>人</span>
            <span>热门技能+证书、厨师证</span>
            <span><a href="javascript:void(0)" onclick="return swtClick()" >立即报名</a></span>
            <span>助学贷款 免费邮寄入学指南</span>
        </li>
        <li class="swiper-slide flex">
            <span><a href="javascript:void(0)" onclick="return swtClick()"><font class="red">[三年制] </font>高星级饭店运营与管理</a></span>
            <span><span class="jhnum">90</span>人</span>
            <span><span class="num">52</span>人</span>
            <span>热门技能+证书、厨师证</span>
            <span><a href="javascript:void(0)" onclick="return swtClick()" >立即报名</a></span>
            <span>助学贷款 免费邮寄入学指南</span>
        </li>
        <li class="swiper-slide flex">
            <span><a href="javascript:void(0)" onclick="return swtClick()"><font class="red">[两年制] </font>经典西点专业</a></span>
            <span><span class="jhnum">100</span>人</span>
            <span><span class="num">55</span>人</span>
            <span>热门技能+证书、厨师证</span>
            <span><a href="javascript:void(0)" onclick="return swtClick()" >立即报名</a></span>
            <span>助学贷款 免费邮寄入学指南</span>
        </li>
        <li class="swiper-slide flex">

            <span><a href="javascript:void(0)" onclick="return swtClick()"><font class="red">[两年制] </font>西餐主厨专业</a></span>
            <span><span class="jhnum">120</span>人</span>
            <span><span class="num">54</span>人</span>
            <span>热门技能+证书、厨师证</span>
            <span><a href="javascript:void(0)" onclick="return swtClick()" >立即报名</a></span>
            <span>助学贷款 免费邮寄入学指南</span>
        </li>
        <li class="swiper-slide flex">
            <span><a href="javascript:void(0)" onclick="return swtClick()"><font class="red">[两年制] </font>大厨精英专业</a></span>
            <span><span class="jhnum">100</span>人</span>
            <span><span class="num">51</span>人</span>
            <span>热门技能+证书、厨师证</span>
            <span><a href="javascript:void(0)" onclick="return swtClick()" >立即报名</a></span>
            <span>助学贷款 免费邮寄入学指南</span>
        </li>
        <li class="swiper-slide flex">
            <span><a href="javascript:void(0)" onclick="return swtClick()"><font class="red">[两年制] </font>西餐主厨专业</a></span>
            <span><span class="jhnum">120</span>人</span>
            <span><span class="num">53</span>人</span>
            <span>热门技能+证书、厨师证</span>
            <span><a href="javascript:void(0)" onclick="return swtClick()" >立即报名</a></span>
            <span>助学贷款 免费邮寄入学指南</span>
        </li>
        <li class="swiper-slide flex">
            <span><a href="javascript:void(0)" onclick="return swtClick()"><font class="red">[两年制] </font>经典西点专业</a></span>
            <span><span class="jhnum">90</span>人</span>
            <span><span class="num">43</span>人</span>
            <span>热门技能+证书、厨师证</span>
            <span><a href="javascript:void(0)" onclick="return swtClick()" >立即报名</a></span>
            <span>助学贷款 免费邮寄入学指南</span>
        </li>
        <li class="swiper-slide flex">
            <span><a href="javascript:void(0)" onclick="return swtClick()"><font class="red">[两年制] </font>西餐主厨专业</a></span>
            <span><span class="jhnum">90</span>人</span>
            <span><span class="num">50</span>人</span>
            <span>热门技能+证书、厨师证</span>
            <span><a href="javascript:void(0)" onclick="return swtClick()" >立即报名</a></span>
            <span>助学贷款 免费邮寄入学指南</span>
        </li>
    </ul>
</div>
<ul class="wrap flex ul_list1">
    <li>
        <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
            <img src="/style/images/newicon1.png">
            <p>2022年招生简章</p>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
            <img src="/style/images/newicon2.png">
            <p>升学班入学条件</p>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
            <img src="/style/images/newicon3.png">
            <p>就业班入学要求</p>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
            <img src="/style/images/newicon4.png">
            <p>预约到校试学</p>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" onclick="return swtClick()" >
            <img src="/style/images/newicon5.png" rel="nofollow">
            <p>在线志愿填报</p>
        </a>
    </li>
</ul>
<div class="wrap mar30">
    <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
        <img src="/style/images/pictop-2.jpg">
    </a>
</div>
<div class="wrap title-main">
    <strong>创业班火热报名中</strong>
    厨艺小白快速创业 学习品种多样，毕业提供创业帮扶
</div>
<ul class="dq wrap flex mar30">
    <li>
        <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/dq-1.jpg" alt="烹饪强化班"></a>
        <p class="flex">
            <a href="javascript:void(0)" onclick="return swtClick()">烹饪强化班</a>
            <a href="javascript:;" rel="nofollow">咨询学费</a>
        </p>
    </li>
    <li>
        <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/dq-6.jpg" alt="中式面点班"></a>
        <p class="flex">
            <a href="javascript:void(0)" onclick="return swtClick()">中式面点研修班</a>
            <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">咨询学费</a>
        </p>
    </li>
    <li>
        <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/dq-2.jpg" alt="烘焙甜品创业班"></a>
        <p class="flex">
            <a href="javascript:void(0)" onclick="return swtClick()">烘焙甜品创业班</a>
            <a href="javascript:void(0)"onclick="return swtClick()"  rel="nofollow">咨询学费</a>
        </p>
    </li>
    <li>
        <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/dq-3.jpg" alt="裱花饮品创业班"></a>
        <p class="flex">
            <a href="javascript:void(0)" onclick="return swtClick()">裱花饮品创业班</a>
            <a href="javascript:void(0)"onclick="return swtClick()"  rel="nofollow">咨询学费</a>
        </p>
    </li>

</ul>
<div class="wrap mar30">
    <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
        <img src="/style/images/pic-1.jpg" width="100%">
    </a>
</div>
<div class="bg1">
    <div class="wrap">
        <ul class="justify bmzx">
            <li class="bmzx-left"><img src="/style/images/icon-3.png" width="44" height="51">在线报名</li>
            <li class="bmzx-center">
                <p>初中起点职教高考可升学，校企合作可就业</p>
                <form action="/plus/baoming.php"  enctype="multipart/form-data" method="post" class="bmform">

                    <input type="text" name="user" placeholder="请输入您的学籍姓名" onfocus="this.placeholder=''"
                           onblur="this.placeholder='请输入您的学籍姓名'" class="bm-input">
                    <input type="text" name="phone" placeholder="请输入您联系电话" onfocus="this.placeholder=''"
                           onblur="this.placeholder='请输入您联系电话'" class="bm-input">
                    <input type="submit" name="submit" id="submit" value="预约报名" class="bm-submit">
                </form>
            </li>
            <li class="justify bmzx-right">
                <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
                    <img src="/style/images/icon-4.png" width="35" height="35">在线咨询
                </a>
                <a href="/about/jybz/" target="_blank">
                    <img src="/style/images/icon-5.png" width="39" height="31">咨询就业
                </a>
                <a href="/about/sladdress/" target="_blank">
                    <img src="/style/images/icon-6.png" width="35" height="35">学校地址
                </a>
                <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
                    <img src="/style/images/icon-7.png" width="39" height="37">在线答疑
                </a>
            </li>
        </ul>
        <div class="news">
            <div class="justify news-title">
                <a href="javascript:void(0)" onclick="return swtClick()" class="on">校园新闻</a>
                <a href="javascript:void(0)" onclick="return swtClick()">行业动态</a>
                <a href="javascript:void(0)" onclick="return swtClick()">学子心声</a>
                <a href="javascript:void(0)" onclick="return swtClick()">就业信息</a>
            </div>
            <ul class="news-con">
                <li>
                    <div class="news-hot">
                        <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/news-1.jpg" width="900" height="280"></a>
                    </div>
                    <ul class="justify news-list">
                        <!--{iCMS:article:list loop="true" row="6"  cid="10"}-->
                            <li>
                                <a href="<!--{$article_list.url}-->"  title="<!--{$article_list.title}-->">
                                    <span><!--{$article_list.title}--></span>
                                <span>[<!--{$article_list.pubdate|date:"y-m-d"}-->]</span></a>
                            </li>
                        <!--{/iCMS}-->
                    </ul>
                </li>
                <li>
                    <div class="news-hot">
                        <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/news-2.jpg" width="900" height="280"></a>
                    </div>
                    <ul class="justify news-list">
                        <!--{iCMS:article:list loop="true" row="6"  cid="25"}-->
                        <li>
                            <a href="<!--{$article_list.url}-->"  title="<!--{$article_list.title}-->">
                                <span><!--{$article_list.title}--></span>
                                <span>[<!--{$article_list.pubdate|date:"y-m-d"}-->]</span></a>
                        </li>
                        <!--{/iCMS}-->
                    </ul>
                </li>
                <li>
                    <div class="news-hot">
                        <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/news-3.jpg" width="900" height="280"></a>
                    </div>
                    <ul class="justify news-list">
                        <!--{iCMS:article:list loop="true" row="6"  cid="26"}-->
                        <li>
                            <a href="<!--{$article_list.url}-->"  title="<!--{$article_list.title}-->">
                                <span><!--{$article_list.title}--></span>
                                <span>[<!--{$article_list.pubdate|date:"y-m-d"}-->]</span></a>
                        </li>
                        <!--{/iCMS}-->
                    </ul>
                </li>
                <li>
                    <div class="news-hot">
                        <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/news-4.jpg" width="900" height="280"></a>
                    </div>
                    <ul class="justify news-list">
                        <!--{iCMS:article:list loop="true" row="6"  cid="8"}-->
                        <li>
                            <a href="<!--{$article_list.url}-->"  title="<!--{$article_list.title}-->">
                                <span><!--{$article_list.title}--></span>
                                <span>[<!--{$article_list.pubdate|date:"y-m-d"}-->]</span></a>
                        </li>
                        <!--{/iCMS}-->
                    </ul>
                </li>
            </ul>
        </div>
        <div class="news-right">
            <div class="news-right-tel"><a href="javascript:void(0)" onclick="return swtClick()">
                <img src="/style/images/icon-2.png" width="68" height="58">
                <span>招生咨询电话<br><strong>0755-89993666</strong></span>
            </a></div>
            <div class="picScroll-top">
                <div class="hd">
                    <a href="javascript:void(0)" onclick="return swtClick()" class="next"><img src="/style/images/hi1co7.png"></a>
                </div>
                <div class="bd">
                    <ul>
                        <li>
                            <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/ban_ns.jpg" alt="男生学什么" /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/ban_gzs.jpg" alt="高中生学厨师" /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/ban_xdzy.jpg" alt="西点专业" /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/ban_kaozheng.jpg" alt="考证" /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/ban_bddk.jpg" alt="百度钱包" /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/ban_dqcy.jpg" alt="短期专业" /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/ban_cygc.jpg" alt="创业梦工厂" /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/ban_zjn.jpg" alt="学真技能" /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/flb_pp.jpg" alt="学厨师" /></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/flb_zj.jpg" alt="职教" /></a>
                        </li>
                    </ul>
                </div>
                <div class="hd">
                    <a href="javascript:void(0)" onclick="return swtClick()" class="prev"><img src="/style/images/hi1co8.png"></a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="wtdy_title">
            以下问题你可能关心
            <p>学校已为<em>32700+</em>学生解答过以下问题</p>
        </div>
        <div class="justify wtdy">
            <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
                <img src="/style/images/gxwt_1.jpg"><br>
                招生要求
            </a>
            <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
                <img src="/style/images/gxwt_2.jpg"><br>
                学费多少
            </a>
            <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
                <img src="/style/images/gxwt_3.jpg"><br>
                学习过程
            </a>
            <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
                <img src="/style/images/gxwt_4.jpg"><br>
                学校食宿
            </a>
            <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
                <img src="/style/images/gxwt_5.jpg"><br>
                生活费用
            </a>
            <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
                <img src="/style/images/gxwt_6.jpg"><br>
                实习工资
            </a>
            <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
                <img src="/style/images/gxwt_7.jpg"><br>
                厨师证书
            </a>
        </div>
    </div>
</div>
<div class="wrap mar30">
    <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
        <img src="/style/images/fenqi.jpg">
    </a>
    <div class="wrap title-main">
        <strong>走进深圳新东方</strong>
        烹饪气息浓郁的它，是否已敲醒了你学习烹饪奋进的心
    </div>
    <div class="xyhj wrap flex mar30">
        <div class="xyhj_video">
            <video src="http://oss.xdfpr.cn/video/guanxuan_short.mp4" controls="" width="610" height=""></video>
            <p>
                专注烹饪教育34年，培养60W技能人才，专业实力铸就品牌力量！<br>
                在深圳新东方选择热门专业课程，提升实操技能水平，为将来前程做好铺垫
            </p>
        </div>
        <div class="xdfjc flex">
            <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/p-1.jpg" alt="">
                <p>以工匠之心精雕教学 <span><img src="/style/images/view-icon.png" alt=""></span></p>
            </a>
            <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/p-2.jpg" alt="">
                <p>新东方自主研发专利 <span><img src="/style/images/view-icon.png" alt=""></span></p>
            </a>
            <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/p-3.jpg" alt="">
                <p>新东方学生如何上课 <span><img src="/style/images/view-icon.png" alt=""></span></p>
            </a>
            <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/p-4.jpg" alt="">
                <p>新东方视频课堂 <span><img src="/style/images/view-icon.png" alt=""></span></p>
            </a>
        </div>
    </div>
</div>
<div class="wrap hd-title">
    <strong>校园现场</strong>
    <ul class="xyhd-title">
        <li class="on">实训教学</li>
        <li>大赛活动</li>
        <li>学子风采</li>
        <li>校园活动</li>
    </ul>
</div>
<div class="clear"></div>
<div class="wrap clearfix">
    <div class="xyhd-left">
        <p>深圳新东方烹饪学校老师指导授课，国内烹饪大师、海外名厨齐聚校园。八大菜系，当下流行西点、西餐亲身传授，品质教学，培养全面发展厨师精英。</p>
        <a href="javascript:void(0)" onclick="return swtClick()">查看详情</a>
    </div>
    <ul class="wrap xyhd-con">
        <!--{iCMS:category:list loop="true" row="4" stype="sub" cid="9" as="cate"}-->
        <li>
            <div class="xyhd-middle">
                <!--{iCMS:article:list loop="true" row="6" cid="$cate.cid"}-->
                <a href="<!--{$article_list.url}-->" ><img src="<!--{$article_list.pic.url}-->" width="450" height="300" alt="<!--{$article_list.title}-->"></a>
                <!--{/iCMS}-->
            </div>
            <div class="xyhd-right">
                <!--{iCMS:article:list loop="true" row="6"  cid="$cate.cid"}-->
                <a href="<!--{$article_list.url}-->"  title="<!--{$article_list.title}-->"><!--{$article_list.title}--></a>
                <!--{/iCMS}-->
            </div>
        </li>
        <!--{/iCMS}-->
    </ul>
</div>
<div class="wrap mar30">
    <a href="javascript:void(0)" onclick="return swtClick()"  rel="nofollow">
        <img src="/style/images/zxcg.jpg">
    </a>
</div>
<div class="wrap title-main"><strong>新东方学生作品</strong></div>
<center class="wrap zp-title">
    <!--{iCMS:category:list loop="true" row="5" stype="suball" cid='7'}-->

            <a href="<!--{$category_list.url}-->"><!--{$category_list.name}--></a>

    <!--{/iCMS}-->
</center>
<div class="wrap zp-con">
    <!--{iCMS:category:list loop="true" row="5" stype="suball" cid='7'}-->
    <ul class="justify zplist">
        <!--{iCMS:article:list loop="true" row="6" cid="$category_list.cid"}-->
        <li>
            <a href="<!--{$article_list.url}-->"  title="<!--{$article_list.name}-->">
                <img src="<!--{$article_list.pic.url}-->" width="400" height="267" alt="<!--{$article_list.name}-->">
            </a>
        </li>
        <!--{/iCMS}-->
    </ul>
    <!--{/iCMS}-->


</div>
<div class="wrap title-main"><strong>新东方师资力量</strong></div>
<div class="ms wrap flex mar30">
    <div class="ms-con">
        <a href="/teacher/"><img src="/style/images/ms_zhongcan.jpg" alt=""></a>
        <a href="/teacher/"><img src="/style/images/ms_xidian.jpg" alt=""></a>
        <a href="/teacher/"><img src="/style/images/ms_waipin.jpg" alt=""></a>
        <a href="/teacher/"><img src="/style/images/ms_waiji.jpg" alt=""></a>
    </div>
    <div class="ms_right">
        <strong>按专业查看师资</strong>
        <ul class="ms-title">
            <li class="on"><img src="/style/images/ms-icon2.jpg" alt=""><span>中餐教师</span></li>
            <li><img src="/style/images/ms-icon3.jpg" alt=""><span>西点西餐教师</span></li>
            <li><img src="/style/images/ms-icon5.jpg" alt=""><span>外聘教师</span></li>
            <li><img src="/style/images/ms-icon1.jpg" alt=""><span>外籍教师</span></li>
        </ul>
    </div>
</div>
<div class="wrap title-main"><strong>在深圳学习 全国指导就业</strong></div>
<ul class="jy wrap flex mar30">
    <li>
        <img src="/style/images/jy-1.jpg" width="280" height="150" alt="">
        <strong>报名了解就业前景</strong>
        <p>来校参观满意后再报名，由就业办老师给学生和家长讲解就业前景。</p>
    </li>
    <li>
        <img src="/style/images/jy-2.jpg" width="280" height="150" alt="">
        <strong>入学定向培养</strong>
        <p>阶段性教学，餐饮合作企业定向培养使得每位学子掌握技能，顺利就业。</p>
    </li>
    <li>
        <img src="/style/images/jy-3.jpg" width="280" height="150" alt="">
        <strong>校园人才招聘</strong>
        <p>学生现场选定就业单位进行面试，面试通过后当场得offer。</p>
    </li>
    <li>
        <img src="/style/images/jy-4.jpg" width="280" height="150" alt="">
        <strong>合格毕业生指导就业</strong>
        <p>一年制或以上的合格毕业生，学校指导就业</p>
    </li>
</ul>
<div class="wrap"><img src="/style/images/jy-5.jpg" width="100%" alt=""></div>
<div class="wrap youlian-title">
    <a href="javascript:void(0)" onclick="return swtClick()">全国院校</a>
</div>
<div class="wrap yuanxiao">
        <a href="http://www.szxdfpr.com/" target="_blank" rel="nofollow">深圳新东方烹饪学校</a>
        <a href="http://www.xdfpr.com/" target="_blank" rel="nofollow">安徽新东方烹饪学校</a>
        <a href="http://www.csxdf.com/" target="_blank" rel="nofollow">长沙新东方烹饪学校</a>
        <a href="http://www.ncxdf.com/" target="_blank" rel="nofollow">南充新东方烹饪学校</a>
        <a href="http://www.gzxdf.com/" target="_blank" rel="nofollow">贵阳新东方烹饪学校</a>
        <a href="http://www.sxxdf.cn/" target="_blank" rel="nofollow">山西新东方烹饪学校</a>
        <a href="http://www.shxdf.cn/" target="_blank" rel="nofollow">上海新东方烹饪学校</a>
        <a href="http://www.hnxdfpr.cn/" target="_blank" rel="nofollow">海南新东方烹饪学校</a>
        <a href="http://www.scxdf.com/" target="_blank" rel="nofollow">成都新东方烹饪学校</a>
        <a href="http://www.xjxdf.com/" target="_blank" rel="nofollow">新疆新东方烹饪学校</a>
        <a href="http://www.sxxdf.com/" target="_blank" rel="nofollow">陕西新东方烹饪学校</a>
        <a href="http://www.gsxdf.com" target="_blank" rel="nofollow">甘肃新东方烹饪学校</a>
        <a href="https://www.hbxdf.com/" target="_blank" rel="nofollow">湖北新东方烹饪学校</a>
        <a href="http://www.nxxdf.com" target="_blank" rel="nofollow">宁夏新东方烹饪学校</a>
        <a href="http://www.qhxdf.com/" target="_blank" rel="nofollow">青海新东方烹饪学校</a>
        <a href="http://www.nmgxdf.com/" target="_blank" rel="nofollow">内蒙古新东方烹饪学校</a>
        <a href="http://www.cqxdfpr.com/" target="_blank" rel="nofollow">重庆新东方烹饪学校</a>
        <a href="http://www.ynxdfpr.com/" target="_blank" rel="nofollow">云南新东方烹饪学校</a>
        <a href="http://www.tjxdf.com/" target="_blank" rel="nofollow">天津新东方烹饪学校</a>
        <a href="http://www.ccxdf.com.cn/" target="_blank" rel="nofollow">长春新东方烹饪学校</a>
        <a href="http://www.hknoc.com.hk/" target="_blank" rel="nofollow">香港新东方烹饪学校</a>
        <a href="http://www.fjxdf.com/" target="_blank" rel="nofollow">福建新东方烹饪学校</a>
        <a href="http://www.hnxdf.com/" target="_blank" rel="nofollow">郑州新东方烹饪学校</a>
        <a href="http://www.hzxdfpr.com/" target="_blank" rel="nofollow">杭州新东方烹饪学校</a>
        <a href="http://www.syxdf.cn/" target="_blank" rel="nofollow">沈阳新东方烹饪学校</a>
        <a href="http://www.dlxdf.cn" target="_blank" rel="nofollow">大连新东方烹饪学校</a>
        <a href="http://www.xmxdfpr.com/" target="_blank" rel="nofollow">厦门新东方烹饪学校</a>
        <a href="http://www.hrbxdf.cn/" target="_blank" rel="nofollow">哈尔滨新东方烹饪学校</a>
        <a href="http://www.szxdfpr.cn" target="_blank" rel="nofollow">苏州新东方烹饪学校</a>
        <a href="http://www.jxxdf.com/" target="_blank" rel="nofollow">江西新东方烹饪学校</a>
        <a href="http://www.jsxdf.com/" target="_blank" rel="nofollow">江苏新东方烹饪学校</a>
        <a href="http://www.bjxdf.com/" target="_blank" rel="nofollow">北京新东方烹饪学校</a>
        <a href="http://www.qdxdf.com/" target="_blank" rel="nofollow">青岛新东方烹饪学校</a>
        <a href="http://www.xzxdf.com/" target="_blank" rel="nofollow">徐州新东方烹饪学校</a>
        <a href="http://www.nyxdf.com/" target="_blank" rel="nofollow">南阳新东方烹饪学校</a>
        <a href="http://www.sjzxdf.cn/" target="_blank" rel="nofollow">石家庄新东方烹饪学校</a>
       <!-- <a href="http://www.xdfpr.cn/" target="_blank" rel="nofollow">深圳新东方烹饪学校</a>-->
        <a href="http://www.hzxdf.cn/" target="_blank" rel="nofollow">菏泽新东方烹饪学校</a>
        <a href="https://www.xdfce.cn/" target="_blank" rel="nofollow">新东方官网</a>
</div>


<footer>
    <ul class="wrap justify footer-tj">
        <li>
            <div class="footer-tj-li-tit">深圳新东方公众号</div>
            <img src="/style/images/wx.jpg" width="122" height="122">
        </li>
        <li>
            <div class="footer-tj-li-tit">推荐关注</div>
            <div class="footer-tj-li-con">
                <div class="bd">
                    <ul></ul>
                </div>
                <div class="hd">
                    <ul></ul>
                </div>
            </div>
        </li>
        <li>
            <div class="footer-tj-li-tit">推荐专业</div>
            <div class="justify tjzy">
                <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/tj-zy-1.jpg" width="105" height="140" alt="金典总厨专业"></a>
                <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/tj-zy-2.jpg" width="105" height="140" alt="大厨精英专业"></a>
                <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/tj-zy-4.jpg" width="105" height="140" alt="经典西点专业"></a>
                <a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/tj-zy-3.jpg" width="105" height="140" alt="西餐主厨专业"></a>

            </div>
        </li>
    </ul>


    <div class="wrap footer-con">
        <div class="footer-con-left"><a href="javascript:void(0)" onclick="return swtClick()"><img src="/style/images/logo.png" width="240" height="128" alt="深圳新东方烹饪学校"></a>
        </div>
        <div class="footer-con-right">
            <strong>办学34年来，集团与60万余名校友建立了强大的校友网络！</strong><br>

            <!--{iCMS:category:list loop="true"  row="10" cid='1,5,11,7,21,8'}-->
            <a href="<!--{$category_list.url}-->" target="_blank"> <!--{$category_list.name}--> </a> |
            <!--{/iCMS}-->
            <a href="javascript:void(0)" onclick="return swtClick()"> 在线报名 </a><br>

            深圳新东方烹饪职业培训学校位于中国改革开放的前沿阵地--深圳，是中国东方教育旗下旗舰烹饪学校。<br>
            坪山校区(总校)：深圳市坪山区坑梓街道宝西路17号　横岗校区：深圳市龙岗区横岗街道松柏天虹4楼4060C<br>
            深圳新东方烹饪职业培训学校致力于：烹饪培训、厨师培训、中餐培训、西点培训、西餐培训、小吃培训<br>
        </div>
        <div class="clear"></div>
        <p style="text-align: center;padding:20px 0;border-top:1px solid #fff;">
            版权所有：北京朗杰科技有限公司 备案号：<a href="https://beian.miit.gov.cn/#/Integrated/index" style="color:#000;">粤ICP备17096990号-2</a>

        </p>
    </div>
</footer>



</body>


<script src="/style/js/jquery-1.11.3.min.js"></script>
<script src="/style/js/jquery.superslide.2.1.2.js"></script>
<script src="/style/js/swiper-4.5.0.min.js"></script>
<script src="/style/js/index.js"></script>
<script src="/style/js/public/swt.js"></script>
<script src="/style/js/public/tongji.js"></script>

<script>
    /**
     * 剩余人数每日自动递减
     **/
    var $num = $('.zsjh .num');
    for (var i = 0; i < $num.length; i++) {
        //console.log(data[0]);
        var num = ($num.eq(i).text()) - d - 1;
        $num.eq(i).html(num);
    }
    console.log(returnCitySN.cname)
</script>

</html>