
<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <title><!--{$category.name}-->_<!--{$category.title}-->_<!--{$site.title}--></title>
    <meta name="keywords" content="<!--{$category.keywords}-->" />
    <meta name="description" content="<!--{$category.description}-->" />
    <link href="/style/css/hj.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--{include file="./header.htm"}-->
<!--{include file="./nav.htm"}-->

<div class="banner"></div>


<div class="wrap">
    <ul class="xyhj">
        <li><a href="javascript:void(0)" onclick="swtClick()"><strong>深圳新东方烹饪学校坪山校区(总校)</strong>
            <img src="/style/images/hj/hj-xx.jpg" width="550" height="300" alt="深圳新东方烹饪学校坪山校区"></a></li>
        <li><a href="javascript:void(0)" onclick="swtClick()"><strong>深圳新东方烹饪学校龙岗校区</strong>
            <img src="/style/images/hj/hj-nx.jpg" width="550" height="300" alt="深圳新东方烹饪学校龙岗校区"></a></li>
    </ul>
    <div class="wrap justify tknav">

        <a href="#sx" class="on"><span class="iconfont iconsx"></span>实训教学</a>
        <a href="#ds"><span class="iconfont iconds"></span>大赛活动</a>
        <a href="#xz"><span class="iconfont iconxz"></span>学子风采</a>
        <a href="#hd"><span class="iconfont iconhd"></span>校园活动</a>

    </div>
    <ul id="sx" class="justify imglist">
        <!-- 实训教学 环境-->
        <!--{iCMS:category:array cid="21"}-->
        <li><img src="/style/images/hj/sx-2.jpg" width="320" height="400" alt="">
            <div class="list-con">中餐专业实训教室<br><a href="<!--{$category_array.url}-->" target="_blank">更多实训设备</a>
            </div>
        </li>
        <li><img src="/style/images/hj/sx-4.jpg" width="320" height="400" alt="">
            <div class="list-con">西餐专业实训<br><a href="<!--{$category_array.url}-->" target="_blank">更多实训设备</a></div>
        </li>

        <li><img src="/style/images/hj/sx-3.jpg" width="600" height="400" alt="">
            <div class="list-con">高星级饭店运营与管理实训教室<br><a href="<!--{$category_array.url}-->" target="_blank">更多实训设备</a></div>
        </li>

        <li>
            <img src="/style/images/hj/sx-5.jpg" width="320" height="400" alt="">
            <div class="list-con">西点专业实训<br><a href="<!--{$category_array.url}-->" target="_blank">更多实训设备</a>
            </div>
        </li>
        <li>
            <img src="/style/images/hj/sx-1.jpg" width="320" height="400" alt="">
            <div class="list-con">创业岗前实训基地<br>--西点示范店<br><a href="<!--{$category_array.url}-->" target="_blank">更多实训设备</a></div>
        </li>

        <li class="list-title">
            <div class="title-main"><strong><span>01</span><br>创新实训环境</strong><br>实战实训 塑造精英</div>
            <p>学校拥有全新不锈钢气灶200多台，建有国内较高水准的示范厅、翻锅大厅、西点教室、西餐教室、高标准的理论教室等各类实习大厅，基础设施配套完善，“<font style="color: #e4393c">20%理论+80%实训</font>”理实一体化模式，并且专业导师全程指导教学，让学生在实训中掌握过硬本领。</p>
        </li>



    </ul>
    <center class="justify zxbox">
        <a href="javascript:void(0)" onclick="swtClick()">难不难，能学会吗啊？</a>
        <a href="javascript:void(0)" onclick="swtClick()">实训机会多吗？</a>
        <a href="javascript:void(0)" onclick="swtClick()">初中生可以学吗？</a>
        <a href="javascript:void(0)" onclick="swtClick()">教学老师专业吗？</a>
    </center>
    <ul id="ds" class="justify imglist">
        <!-- 大赛活动 环境-->
        <!--{iCMS:category:array cid="22"}-->
        <li><img src="/style/images/hj/ds-1.jpg" width="320" height="400" alt=""><div class="list-con">任课老师技能比赛<br><a href="<!--{$category_array.url}-->" target="_blank">更多比赛图片</a></div></li>
        <li><img src="/style/images/hj/ds-2.jpg" width="320" height="400" alt=""><div class="list-con">班级宴席PK赛<br><a href="<!--{$category_array.url}-->" target="_blank">更多比赛图片</a></div></li>
        <li><img src="/style/images/hj/ds-3.jpg" width="600" height="400" alt=""><div class="list-con">2019中国烹饪锦标赛—<br>“新东方杯”第五届全国烹饪技能大赛<br><a href="<!--{$category_array.url}-->" target="_blank">更多比赛图片</a></div></li>
        <li class="list-title">
            <div class="title-main"><strong><span>02</span><br>大赛活动</strong><br>以赛促学 内化于心</div>
            <p>学校办学以来“以赛促学，以赛促教”的方针始终贯彻，在平日的教学中注重对学生技能竞赛的培养是我院教学过程中的一项要务，以赛促学，以学促用，常态化的技能竞赛，既能展示我院师生的精神风貌和职业技能水平，又可以提升学生的竞争实力，同时展现老师的职业技能水平，真正做到，冠军老师培养冠军学生。</p>
        </li>
        <li><img src="/style/images/hj/ds-4.jpg" width="320" height="400" alt=""><div class="list-con">“石头先生的烤炉”杯<br>整体艺术蛋糕PK赛<br><a href="<!--{$category_array.url}-->" target="_blank">更多比赛图片</a></div></li>
        <li><img src="/style/images/hj/ds-5.jpg" width="320" height="400" alt=""><div class="list-con">新东方杯西点西餐技能大赛<br><a href="<!--{$category_array.url}-->" target="_blank">更多比赛图片</a></div></li>

    </ul>
    <center class="justify zxbox">
        <a href="javascript:void(0)"  onclick="swtClick()"  >参加比赛有奖金吗？</a>
        <a href="javascript:void(0)"  onclick="swtClick()"  >比赛多吗？怎么参加比赛？</a>
        <a href="javascript:void(0)"  onclick="swtClick()"  >毕业能直接上岗吗？</a>
        <a href="javascript:void(0)"  onclick="swtClick()"  >校企合作单位多不多？</a>
    </center>
    <ul id="xz" class="justify imglist">

        <!-- 学子风采 环境-->
        <!--{iCMS:category:array cid="23"}-->
        <li><img src="/style/images/hj/xz-1.jpg" width="320" height="400" alt=""><div class="list-con">深圳新东方西餐学子风采<br><a href="<!--{$category_array.url}-->" target="_blank">更多学子图片</a></div></li>
        <li><img src="/style/images/hj/xz-2.jpg" width="320" height="400" alt=""><div class="list-con">深圳新东方西点学子风采<br><a href="<!--{$category_array.url}-->" target="_blank">更多学子图片</a></div></li>
        <li class="list-title">
            <div class="title-main"><strong><span>03</span><br>学子风采</strong><br>成就自我 砥砺前行</div>
            <p>经历过中/高考的洗礼，怀着美好的憧憬和梦想，带着青春的张扬和热情，他们来到了深圳新东方新东方烹饪学校进行学习。</p>
            <p> 他们每天都过得很充实，创造着属于自己的精彩。他们的成长充斥着色彩斑斓的梦想，他们将努力和汗水编织成美妙的音符，弹奏着辉煌的旋律。
            </p>
        </li>
        <li><img src="/style/images/hj/xz-3.jpg" width="320" height="400" alt=""><div class="list-con">深圳新东方西点学子风采<br><a href="<!--{$category_array.url}-->" target="_blank">更多学子图片</a></div></li>
        <li><img src="/style/images/hj/xz-4.jpg" width="320" height="400" alt=""><div class="list-con">深圳新东方中餐学子风采<br><a href="<!--{$category_array.url}-->" target="_blank">更多学子图片</a></div></li>
        <li><img src="/style/images/hj/xz-5.jpg" width="600" height="400" alt=""><div class="list-con">深圳新东方学子风采<br><a href="<!--{$category_array.url}-->" target="_blank">更多学子图片</a></div></li>
    </ul>
    <center class="justify zxbox">
        <a href="javascript:void(0)"  onclick="swtClick()"  >学校宿舍有空调吗？</a>
        <a href="javascript:void(0)"  onclick="swtClick()"  >学校吃饭贵吗？</a>
        <a href="javascript:void(0)"  onclick="swtClick()"  >学校可以上网吗？</a>
        <a href="javascript:void(0)"  onclick="swtClick()"  >平时是怎么样上课呢？</a>
    </center>

    <ul id="hd" class="justify imglist">
        <!-- 校园活动 环境-->
        <!--{iCMS:category:array cid="24"}-->
        <li class="list-title">
            <div class="title-main"><strong><span>04</span><br>校园活动</strong><br>开拓眼界 快乐成长</div>
            <p>营造一个良好的学习和社会锻炼的氛围，让同学们能有一个更加多姿多彩的校园生活，丰富校园文化，展现能力，展现我院学生的精神风貌，提高学生的综合素质，为校园生活添上新的风采，活跃学习氛围，给同学们一个真正展示自我风采和勇气的舞台。</p>
        </li>
        <li><img src="/style/images/hj/hd-1.jpg" width="320" height="400" alt=""><div class="list-con">每周举行升旗仪式<br><a href="<!--{$category_array.url}-->" target="_blank">更多活动图片</a></div></li>
        <li><img src="/style/images/hj/hd-2.jpg" width="320" height="400" alt=""><div class="list-con">入学军训<br><a href="<!--{$category_array.url}-->" target="_blank">更多活动图片</a></div></li>
        <li><img src="/style/images/hj/hd-3.jpg" width="320" height="400" alt=""><div class="list-con">拔河比赛<br><a href="<!--{$category_array.url}-->" target="_blank">更多活动图片</a></div></li>
        <li><img src="/style/images/hj/hd-4.jpg" width="320" height="400" alt=""><div class="list-con">深圳新东方五一晚会<br><a href="<!--{$category_array.url}-->" target="_blank">更多活动图片</a></div></li>
        <li><img src="/style/images/hj/hd-5.jpg" width="600" height="400" alt=""><div class="list-con">参加电视台《听得到的美食》<br>节目录制<br><a href="<!--{$category_array.url}-->" target="_blank">更多活动图片</a></div></li>
    </ul>
    <center class="justify zxbox">
        <a href="javascript:void(0)"  onclick="swtClick()"  >校园活动丰富吗？</a>
        <a href="javascript:void(0)"  onclick="swtClick()"  >怎么参加活动呢？</a>
        <a href="javascript:void(0)"  onclick="swtClick()"  >学校有兴趣社团吗？</a>
        <a href="javascript:void(0)"  onclick="swtClick()"  >毕业能进那些单位工作？</a>
    </center>


    <div class="wenti-title">
        <img src="/style/images/icon3.png" alt="" style="width: 31px;height: 25px;">
        <strong style="color: #5c5c5c;vertical-align: middle;">还有疑问？深圳新东方为你解决更多！</strong>
        <img src="/style/images/icon4.png" alt="" style="width: 31px;height: 25px;">
    </div>

    <ul class="wenti">
        <li>毕业后能拿什么学历？<a href="javascript:void(0)"  onclick="swtClick()"  >在线咨询</a></li>
        <li>如何获得免试入学资格？<a href="javascript:void(0)"  onclick="swtClick()"  >在线咨询</a></li>
        <li>包就业吗？可以安排全国就业吗？<a href="javascript:void(0)"  onclick="swtClick()"  >在线咨询</a></li>
        <li>报名流程是什么？手续有哪些？<a href="javascript:void(0)"  onclick="swtClick()"  >在线咨询</a></li>
        <li>不知道合适什么专业，请老师推荐？<a href="javascript:void(0)"  onclick="swtClick()"  >在线咨询</a></li>
    </ul>
    <ul class="wenti">
        <li>学校地址是什么地方？<a href="javascript:void(0)"  onclick="swtClick()"  >在线咨询</a></li>
        <li>学费多少钱？<a href="javascript:void(0)"  onclick="swtClick()"  >在线咨询</a></li>
        <li>学不会怎么办？<a href="javascript:void(0)"  onclick="swtClick()"  >在线咨询</a></li>
        <li>毕业工资多少钱？<a href="javascript:void(0)"  onclick="swtClick()"  >在线咨询</a></li>
        <li>有理论课吗？<a href="javascript:void(0)"  onclick="swtClick()"  >在线咨询</a></li>
    </ul>
    <div class="clear"></div>
</div>

<!--{include file="./from.htm"}-->
<!--{include file="./footer.htm"}-->

<script src="/style/js/jquery-1.11.3.min.js"></script>

<script>

    //获取导航条距离顶部位置
    var x = $('.tknav').offset().top;
    //console.log(x);
    window.onscroll = function (){
        //获取当前滚动条位置
        var doc = $(document).scrollTop();
        //顶部固定
        if (doc > x) {
            $('.tknav').addClass('Selected');
        } else {
            $('.tknav').removeClass('Selected')
        }
        for (var i = 0; i < $('.imglist').length; i++) {
            if (doc + 110 > $('.imglist').eq(i).offset().top) {
                $('.tknav > a').eq(i).addClass('on').siblings().removeClass('on');
            }
        }
    };

    $('.tknav > a').click(function(){
        $(this).addClass('on').siblings().removeClass('on');
        //根据a标签的href转换为id选择器，获取id元素所处的位置，并高度减50px（这里根据需要自由设置）
        $('html,body').animate({scrollTop: ($($(this).attr('href')).offset().top -105 )},300);
    });
</script>
</body>
</html>