
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><!--{$category.name}-->_
        <!--{$category.title}-->_
        <!--{$site.title}--></title>
    <meta name="keywords" content="<!--{$category.keywords}-->" />
    <meta name="description" content="<!--{$category.description}-->" />
    <link rel="stylesheet" href="/style/css/swiper-4.5.0.min.css" />
    <link rel="stylesheet" href="/style/css/about.css">
</head>
<body>

<!--{include file="./header.htm"}-->
<!--{include file="./nav.htm"}-->

<div class="banner">
    <a href="javascript:;" onclick="swtClick()"    rel="nofollow">
        <img src="/style/images/about/banner.jpg" alt="" width="100%">
    </a>
</div>
<p class="title_main">深圳新东方烹饪学校简介</p>
<p class="title_main_p">烹饪教育品牌，时间积累口碑，专业成就品牌</p>
<div class="bg_qhs mar30">
    <div class="wrap">
        <div class="hrbm-left">
            <video src="/style/images/about/sy_sp.mp4" controls="" width="550" height="310"></video>
            <p>深圳新东方烹饪学校成立于2015年6月15日，是经深圳市坪山区人力资源局批准建设大型烹饪专业培训学校。学校开设专业齐全，拥有中餐、西餐、西点、酒店管理、特色小吃等方向的长短期专业，是培养高级烹调师、中西面点师和烹饪管理人才的餐饮教育基地。同时也是广东省首批“粤菜师傅”工程培训基地、深圳市高技能人才培养基地、第46届世界技能大赛深圳集训基地。</p>
            <br>
            <p>深圳新东方烹饪学校拥有坪山、横岗两大校区，坪山校区位于深圳市坪山区坑梓街道宝西路17号，生源群体以初高中学生为主，课程多为长期学制专业，是深圳新东方烹饪学校主校区；横岗校区位于深圳市龙岗区横岗街道松柏天虹四楼，生源群体以餐饮创业者以及成人群体为主，课程多为短期课程，也是学校的西点西餐学院重要教育教学点。

                 </div>
        <div class="hrbm-right swiper-container" id="content">
            <ul class="list swiper-wrapper">
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="lileft">
                            <div class="date"><span class="year">2021</span></div>
                        </div>
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">深圳新东方烹饪学校被授予深圳市烹饪协会“副会长”单位</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">我校谭荣华等五位老师被深圳人社局评为星级“粤菜师傅” </div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">承办坪山区“粤菜师傅”技能培训 南山区广府风味菜技能提升培训 </div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">谭荣华老师荣获2020年度深圳市坪山区“聚龙巧匠”称号</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="lileft">
                            <div class="date"><span class="year">2020</span></div>
                        </div>
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">谭荣华老师荣获2020年度深圳市坪山区“聚龙巧匠”称号</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">我校承办的深圳坪山—百色田东“粤菜师傅”技能培训班结业</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">我校任冬生、杨志雄创业故事登上央视《聚焦三农》栏目</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="lileft">
                            <div class="date"><span class="year">2019</span></div>
                        </div>
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">我校承办的深圳坪山—百色田东“粤菜师傅”技能培训班结业</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">我校任冬生、杨志雄创业故事登上央视《聚焦三农》栏目</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">我校成为第46届世界技能大赛糖艺/西点制作、烹饪（西餐）A类深圳区集训基地</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">余贵川同学荣获粤港澳大湾区“粤菜师傅”大赛新秀组第一名</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">我校成为深圳市高技能人才培训基地</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">“新东方杯”第五届全国烹饪技能大赛斩获团体赛金奖个人赛金奖</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">深圳新东方烹饪学校 —“广东省粤菜师傅培训基地”正式揭牌</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">深派粤菜教学研发中心正式揭牌</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">与韩山师范学院合作大专学历班迎来开班典礼</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">我校成为深圳市首批粤菜师傅培训基地</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="lileft">
                            <div class="date"><span class="year">2018</span></div>
                        </div>
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">联合中国社会福利基金会启动“新起点，筑梦公益行动”</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">“坪山工匠”厨艺比赛在我校举行 坪山区名厨汇聚新东方</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="lileft">
                            <div class="date"><span class="year">2017</span></div>
                        </div>
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">深圳新东方烹饪学校横岗校区成立</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">第四届新东方杯烹饪技能大赛斩获中餐宴席设计与制作特金奖</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="lileft">
                            <div class="date"><span class="year">2016</span></div>
                        </div>
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">谭荣华老师被授予“中国烹饪大师”荣誉称号</div>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="liwrap">
                        <div class="lileft">
                            <div class="date"><span class="year">2015</span></div>
                        </div>
                        <div class="point"><b></b></div>
                        <div class="liright">
                            <div class="hisct">深圳新东方烹饪学校在坪山区成立</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="bg_img1 wrap">
    <div class="div_1 ">
        <p class="title_main p1">两大校区</p>
        <p class="p2">承载新东方学子梦想</p>
    </div>
    <div class="div_2">
        <hr>
        <strong>深圳新东方烹饪学校专注于烹饪教育
            缔造行业品牌</strong>
        <p>
            深圳新东方烹饪学校拥有坪山、横岗两大校区，坪山校区位于深圳市坪山区坑梓街道宝西路17号，生源群体以初高中学生为主，课程多为长期学制专业，是深圳新东方烹饪学校主校区；横岗校区位于深圳市龙岗区横岗街道松柏天虹四楼，生源群体以餐饮创业者以及成人群体为主，课程多为短期课程，也是学校的西点专业重要教育教学点。</p>
    </div>
</div>
<div class="bg_qhs bg_qhs2">
    <p class="title_main">四大专业</p>
    <p class="title_main_p">全面升级教学体系，培养高学历高技能烹饪人才。</p>
    <ul class="flex wrap ul_list1">
        <li>
            <a href="/zy/" target="_blank">
                <strong>热门中餐专业</strong>
                <hr>
                <p>系统学习八大菜系、膳食营养、酒店经营等综合技能，全真实操贯穿全程。培养主厨、大厨、厨师长等烹饪高技术人才、具备餐饮行业管理能力、烹饪能力和自主创业能力的高素质复合型人才为目标。</p>
            </a>
        </li>
        <li>
            <a href="/zy/" target="_blank" rel="noopener noreferrer">
                <strong>西餐西点专业</strong>
                <hr>
                <p>系统学习各式西点制作，掌握中式面点、西餐经典菜及各类不同档次西式甜品台的设计与制作。培养高端西点裱花师、烘焙师、西点品牌连锁店长，大型西点企业技术总监为目标。</p>
            </a>
        </li>
        <li>
            <a href="/zy/" target="_blank" rel="noopener noreferrer">
                <strong>高星级饭店运营与管理</strong>
                <hr>
                <p>注重综合素质培养，学习经济管理基础知识和酒店基本理论，突出技能培训，着重多方面的技能训练。以培养酒店行政、财务等职能部门的经理、执行经理及总监为发展目标。</p>
            </a>
        </li>
        <li>
            <a href="/zy/" target="_blank" rel="noopener noreferrer">
                <strong>短期创业培训课程</strong>
                <hr>
                <p>短期创业课程，学习十几种不同项目的的制作技术，讲授原料、制作工艺、器械使用与维护等相关知识，培养精通创业、技能提升的技术人才，可提供创业帮扶服务。</p>
            </a>
        </li>
    </ul>
    <a href="javascript:;"   onclick="swtClick()" class="zxbtn" target="_blank">了解更多新东方特色</a>
</div>
<p class="title_main">学校优势</p>
<p class="title_main_p">深圳新东方烹饪学校是烹饪教育中的旗舰院校</p>
<ul class="flex wrap ul_list2">
    <li>
        <img src="/style/images/about/img7.jpg" alt="">
        <p>
            办学多年来，学校现设有金典总厨、时尚西点、大厨精英、经典西点、西餐主厨等一系列热门专业，精湛的烹饪技艺和丰硕的办学成果成为行业的典范。
        </p>
    </li>
    <li>
        <img src="/style/images/about/img8.jpg" alt="">
        <p>
            学校采用开放式教学，“技能+证书”一体化教育模式，坚持理论与实习操作相结合的学习方式，让每个学生获得专业素质和个人素质双丰收。
        </p>
    </li>
    <li>
        <img src="/style/images/about/img9.jpg" alt="">
        <p>
            学校先后在北京、上海、广州、深圳、济南等全国各大城市设立了就业办事处，与30000余家用人单位建立了长期合作关系。
        </p>
    </li>
    <li>
        <img src="/style/images/about/img10.jpg" alt="">
        <p>
            新东方的老师来自大型酒店和烹饪专业院校，有一级烹饪大师，全国烹饪大赛金厨奖获得者，大型酒店厨师长，以及各个菜系的大厨。
        </p>
    </li>
    <li>
        <img src="/style/images/about/img11.jpg" alt="">
        <p>
            学校拥有全新不锈钢气灶200多台，建有国内较高水准的示范厅、翻锅大厅、西点教室、理论教室等各类实习大厅，基础设施配套完善。
        </p>
    </li>
    <li>
        <img src="/style/images/about/img12.jpg" alt="">
        <p>学校位于深圳，中国改革开放的前沿阵地、粤港澳大湾区四大中心城市之一，中国特色社会主义先行示范区。技能教育备受重视，学生可凭技能入户。</p>
    </li>
</ul>
<a href="javascript:;"   onclick="swtClick()" class="zxbtn" target="_blank">了解更多学院详情</a>
<div class="bg_qhs mar30">
    <p class="title_main">技能+认证</p>
    <p class="title_main_p">左手技能，右手学历，各项技能证书，为就业增值加分</p>
    <div class="wrap mar30">
        <img src="/style/images/about/img13.jpg" alt="">
        <img src="/style/images/about/img14.jpg" alt="">
    </div>
    <a href="javascript:;"   onclick="swtClick()" class="zxbtn" target="_blank">了解如何获得技能+证书</a>
</div>
<p class="title_main">全方位创就业服务体系</p>
<div class="swiper-container fuwu wrap">
    <div class="swiper-wrapper ">
        <div class="swiper-slide">
            <div class="bor_sw">
                <img src="/style/images/about/img15.jpg" alt="">
                <div class="fw_con">
                    <strong class="str1">五重就业服务</strong>
                    <p><strong>体系化就业网络覆盖全国：</strong>先后设立50多个创就业指导中心，500多位创就业指导师贴心服务，就业网络覆盖全国。</p><br>
                    <p><strong>互动式就业平台方便快捷：</strong>组织建设“全国院校网站就业专题版块”，打造互动式网上就业平台。</p><br>
                    <p><strong>多元化就业渠道畅通无阻：</strong>与全国各地政府就业指导机构、人才市场打通就业渠道，定期举办人才交流会、校园专场招聘会。</p><br>
                    <p><strong>订单式校企合作：</strong>与30000多家用人单位达成长期合作协议，定向培养行业紧缺的复合型人才。</p><br>
                    <p><strong>全国性校友协会沟通无限：</strong>在全国自发设立校友协会，范围遍及全国，并整合各种社会资源，为新东方毕业校友牵线搭桥，帮助新东方人成就事业。</p><br>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="bor_sw">
                <img src="/style/images/about/img16.jpg" alt="">
                <div class="fw_con">
                    <strong class="str1">四项就业服务指导</strong>
                    <p><strong>入学时：</strong>将新生就业教育作为新生入学第一课，时时提醒每位在校生明确学习目标，增强就业信心，提升就业能力和职业素质，为将来顺利就业打下基础。</p><br>
                    <p><strong>学习中：</strong>学校创就业指导中心定期组织各类就业活动，保证学生快速成长、顺利就业。</p><br>
                    <p><strong>毕业时：</strong>创就业指导中心举办多种形式的招聘会，为毕业生提供众多可选择工作岗位。</p><br>
                    <p><strong>毕业后：</strong>毕业生上岗前，创就业指导老师对其进行专业指导；上岗一周内学校赴企业实地回访，工作一个月后电话回访，以后不定期对毕业生进行实地或电话回访。</p><br>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="bor_sw">
                <img src="/style/images/about/img17.jpg" alt="">
                <div class="fw_con">
                    <strong class="str1">两大创业服务体系</strong>
                    <p><strong>创业培训体系：</strong>通过创业意识培训和创业模拟实训两大工程，唤醒学生创业意识，传授创业实务，让学生能创业会创业。</p><br>
                    <p><strong>创业帮扶体系：</strong>对有创业愿望的学生，通过资金支持、技术支持、资源支持、人员支持、开业支持、经营支持等帮扶，让学生成功创业。</p><br>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<a href="javascript:;"   onclick="swtClick()" class="zxbtn" target="_blank">学成毕业后，如何顺利创就业</a>
<div class="bg_fot">
    <p class="title_main">了解专业学费及优惠政策</p>
    <p class="title_main_p">我们将会对您的信息进行加密处理，请放心填写</p>
    <form name="from" accept-charset="utf-8" class="bmform2 flex" action="/plus/baoming.php" method="post" enctype="multipart/form-data">
        <span>真实姓名：</span>
        <input type="text" name="name" placeholder="请输入您的姓名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的姓名'" class="bm-input2"><br>
        <span>手机号码：</span>
        <input type="text" name="phone" placeholder="请输入您的手机号码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的手机号码'" class="bm-input2"><br>
        <span>报名专业：</span>
        <select name="zhuanye" class="bm-input2">
            <option selected="selected" value="选择意向专业">选择意向专业</option>
            <option value="3年制专业">3年制专业</option>
            <option value="2年制专业">2年制专业</option>
            <option value="1年制专业">1年制专业</option>
            <option value="短期专业">短期专业</option>
        </select><br>
        <input type="submit" name="submit" value="提交信息" class="bm-submit2">
    </form>
</div>
<div class="swtRirhgt clearfix">
    <a href="javascript:void(0)" class="xuefei " target="_blank">
        <p></p>
    </a>
    <a href="javascript:void(0)" class="zhuanye " target="_blank">
        <p></p>
    </a>
    <a href="javascript:void(0)" class="swtzx " target="_blank">
        <p></p>
    </a>
    <a href="javascript:void(0)" class="telzx" target="_blank">
        <p></p>
    </a>
    <a target="_blank" href="javascript:;"   onclick="swtClick()" class="qqzx ">
        <p></p>
    </a>
    <div class="wechatzx">
        <p></p>
        <div class="qrcode"></div>
    </div>
    <div class="backtopbtn">
        <p></p>
    </div>
</div>

<!--{include file="./footer.htm"}-->

<script src="/style/js/jquery-1.11.3.min.js"></script>
<script src="/style/js/swiper-4.5.0.min.js"></script>
<script>
    var mySwiper = new Swiper('.hrbm-right', {
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
        direction : 'vertical',
        slidesPerView : 8,
        loop : true,
    })

    $(".list .liwrap").mouseover(function(){
        $(".list li").removeClass("thiscur");
        $(this).parent().addClass("thiscur")
    });

    var mySwiper = new Swiper('.fuwu', {
        autoplay: true,//可选选项，自动滑动
        pagination :{
            el: '.swiper-pagination',
            clickable :true,
        },
        loop:true
    })
</script>
</body>
</html>